@import url('/fonts/fonts.css');

body {
    color: #fff;
    background: url(/img/login/background_img.jpg)no-repeat center center fixed;
    background-size: cover;
    font-family: 'Source Code Pro';
    letter-spacing: 0.2px;
    margin-top: 0px;
}

h1 {
    font-weight: 880;
    margin-bottom: 10px;
    color: #e7e7e7;
    padding: 6px;
    text-align: center;
    border: solid 1px white;
    margin-left: 150px;
    margin-right: 150px;
}

h2 {
    font-weight: 750;
    margin-bottom: 10px;
    color: #e7e7e7;
    padding: 6px;
}

h3 {
    font-size: 25px;
    font-weight: 640;
    margin-bottom: 10px;
    color: #e7e7e7;
    padding: 6px;
}
a{
    color:white;
    font-style: italic;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
    font-style: italic;
}
input[type='password'] {
    background: transparent url("/img/login/pass.jpg") no-repeat;
    background-position: 10px 50%;
}

input[type='text'] {
    background: transparent url("/img/login/user.jpg") no-repeat;
    background-position: 10px 50%;
    background-size: 16px;
}

input[type='email'] {
    background: transparent url("/img/login/email.png") no-repeat;
    background-position: 10px 50%;
    background-size: 16px;
}

input[type='date'] {
    background: transparent url("/img/login/kalender.png") no-repeat;
    background-position: 10px 50%;
    background-size: 16px;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

table tr td{
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        border:solid white 0.5px;
}
#textacenter{
    text-align: center;
}
.str-box{
  margin-left: 10px;
margin-bottom: 10px;
border: 5px solid grey;
float:left;
width: 250px;
height: 200px;
min-height: 10em;
border: 4px solid #1cb09a;
}
.str-iframe{
  padding: 10px;
max-width: 300px;
max-height:150px;
vertical-align: bottom;
display: block;
margin-top:auto;
margin-bottom:auto;
margin-left:auto;
margin-right:auto;
vertical-align: middle;
border: 0 none;
max-width: 200px;
}
.str-title{
  text-align: center;
  color: white;
  
}
